.navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 247, 223);
    color: white;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: center;
  }
  
  .nav-item {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
  }
  
  .nav-icon {
    width: 24px; /* Adjust size as needed */
    height: 24px; /* Adjust size as needed */
  }
  
  .nav-item span {
    margin-top: 5px;
    font-size: 12px;
    color: black;
  }
  