.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-bottom: 20px;
  }
  
  .loading-logo {
    width: 80px;
    height: 80px;
    animation: rotate 1s linear infinite; /* Ajout de l'animation de rotation */
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity 0.5s ease, transform 0.5s ease; /* Effet de transition global */
  }
  
  .carousel-container.transitioning {
    opacity: 0;
    transform: scale(0.9); /* Effet de rétrécissement pendant la transition de sortie */
  }
  
  .selected-badge {
    cursor: pointer;
  }
  
  .large-badge {
    width: 80px;
    height: 80px;
    transition: transform 0.5s ease;
    margin-bottom: 20px;
  }
  
  .carousel {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
  }
  
  .badge-scroll-container {
    display: flex;
    overflow-x: scroll;
    max-width: 500px;
    padding: 10px;
  }
  
  .badge-item {
    margin: 0 10px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    cursor: pointer;
    flex-shrink: 0;
  }
  
  .badge-item img {
    width: 40px;
    height: 40px;
  }
  
  .badge-item.active {
    transform: scale(1.2); /* Badge sélectionné grandit */
  }
  