.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.infobar-container {
  width: 100%;
}

.postfeed-container {
  width: auto;
  margin: 0 auto;
  margin-bottom: 80px;
}
.event-buttons button {
  margin: 5px;
  border-radius: 30px;
  padding: 10px;
  color: rgb(110, 108, 108);
  background-color:  #ffffff ;
  font-family: 'Lemon', sans-serif; /* Lemon font */
  border-width: 2px;
  border-color: #6a8a87;
  cursor: pointer;
}

.event-buttons button.selected {
  color: rgb(110, 108, 108); 
  border-color: rgb(31, 190, 68);
  border-width: 3px;
}
.feed-page-container {
}