.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.infobar-container {
  width: 100%;
  margin-bottom: 20px;
}

.postfeed-container {
  width: auto;
  margin: 0 auto;
  margin-bottom: 80px;
}