.banner-container {
    width: 100%;
    overflow: hidden;
    background-color: #333;
    padding: 10px 0;
    position: relative;
  }
  
  /* Animation de défilement standard */
  .banner-content {
    display: flex;
    animation: scroll 15s linear infinite;
  }
  
  .banner-item {
    padding: 0 20px;
    white-space: nowrap;
    font-size: 22px;
    font-weight: bold;
    color: #5da39c;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-220%);
    }
  }
  
  /* Animation scintillante */
  .shimmer {
    animation: shimmer 2s infinite; /* Durée et répétition de l'animation */
  }
  
  @keyframes shimmer {
    0% {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }
    50% {
      box-shadow: 0 0 20px rgba(255, 255, 255, 1);
    }
    100% {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }
  }
  