 .login-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Aligne le contenu en haut pour laisser de l'espace en bas */
  height: 100vh;
  overflow-y: auto; /* Ajoute un défilement vertical lorsque nécessaire */
  padding: 20px;
  }
  
  .login-box {
    padding: 40px;
  width: 100%;
  max-width: 400px;
  text-align: center;
  border-radius: 10px;
  text-align: center;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  margin-top: 20px;
  }

  .fade-in {
    opacity: 1; /* Effet de fondu */
  }
  
  .fade-out {
    opacity: 0; /* Disparaît lors du changement de formulaire */
  }
  
  .sheeeshTag{
    font-size: 36px;
  margin-bottom: 40px;
  font-weight: bold;
  margin-top: 20px;
  }
  
  .input-group {
    margin-bottom: 20px;
    text-align: left;
  }
    
  input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #34495e;
    border-radius: 5px;
    font-size: 16px;
    color: #6a8a87;
    background-color: #ecf0f1;
    outline: none;

  }
  
  .login-button {
    width: 100%;
    padding: 12px;
    background-color: #6a8a87; 
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    cursor: pointer;
  }
  
  .forgot-password {
    margin-top: 15px;
    font-size: 14px;
    color: #95a5a6;
  }
  
  .logSelect {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .logSelect button {
    background: none;
    border: none;
    font-size: 16px;
    color: #aaa;
    padding: 10px;
    cursor: pointer;
  }
  
  .logSelect button.active {
    border-bottom: 2px solid #f32c62;
  }
  
  label {
    color: #6a8a87;
    font-size: 12px;
    display: block;
    margin-bottom: 5px;
  }

input[type="checkbox"] {
  appearance: none; 
  width: 20px;
  height: 20px;
  background-color: #ecf0f1; 
  border: 2px solid #34495e; 
  border-radius: 4px; 
  cursor: pointer;
  position: relative;
}


input[type="checkbox"]:checked {
  background-color: #6a8a87; 
  border-color: #6a8a87;
}

input[type="checkbox"]:checked::after {
  content: '✔'; 
  position: absolute;
  top: 0;
  left: 3.5px;
  font-size: 16px;
  color: white; 
}

input[type="checkbox"] {
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  
}

.checkbox label {
  font-size: 14px; 
  color: #6a8a87; 
  cursor: pointer; 
}

select {
  width: auto; 
  padding: 6px 12px; 
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #34495e;
  border-radius: 5px;
  font-size: 14px; 
  color: #6a8a87;
  background-color: #ecf0f1;
  outline: none;
  transition: border-color 0.3s ease, background-color 0.3s ease;

}

/* Style lors du focus */
select:focus {
  border-color: #6a8a87;
}

.select-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px; 
}

.select-group label {
  color: #6a8a87;
  font-size: 12px;
  margin-bottom: 5px;
}

.terms-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  transform: translateY(100%); /* Start off-screen */
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; /* Smooth transition */
}

.terms-modal.show {
  opacity: 1;
  transform: translateY(0); /* Move into view */
}

.terms-modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  width: 100%;
}

.close-modal-button {
  background-color: #6a8a87;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.terms{
  font-weight: bold;
}
.error-message {
  display: flex;
  align-items: center;
  background-color: #fff5f5; /* Light red background (optional) */
  border-radius: 5px;
  color: red; /* Text color red */
  font-size: 16px;
}

.error-icon {
  margin-right: 10px; /* Add space between the icon and text */
  font-size: 20px;
  color: red; /* Icon color red */
}

.error-text {
  font-size: 16px;
  color: red; /* Text color red */
}

.password-error-messages {
  margin-top: 10px;
  background-color: #ffe6e6; /* Fond rouge clair */
  padding: 10px;
  border: 1px solid #ff6666; /* Bordure rouge */
  border-radius: 5px;
}

.password-error {
  color: #cc0000; /* Couleur rouge pour les textes d'erreur */
  font-size: 14px;
  margin: 0;
  padding: 2px 0;
}

.password-error::before {
  content: '⚠ '; /* Icône d'avertissement avant chaque message */
  color: #cc0000;
  font-weight: bold;
}
