 .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-box {
    padding: 40px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    border-radius: 10px;
    text-align: center;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }

  .fade-in {
    opacity: 1; /* Effet de fondu */
  }
  
  .fade-out {
    opacity: 0; /* Disparaît lors du changement de formulaire */
  }
  
  .sheeeshTag{
    font-size: 36px;
    margin-bottom: 40px;
    font-weight: bold;
  }
  
  .input-group {
    margin-bottom: 20px;
    text-align: left;
  }
    
  input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #34495e;
    border-radius: 5px;
    font-size: 16px;
    color: #6a8a87;
    background-color: #ecf0f1;
    outline: none;

  }
  
  .login-button {
    width: 100%;
    padding: 12px;
    background-color: #6a8a87; 
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    cursor: pointer;
  }
  
  .forgot-password {
    margin-top: 15px;
    font-size: 14px;
    color: #95a5a6;
  }
  
  .logSelect {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .logSelect button {
    background: none;
    border: none;
    font-size: 16px;
    color: #aaa;
    padding: 10px;
    cursor: pointer;
  }
  
  .logSelect button.active {
    border-bottom: 2px solid #f32c62;
  }
  
  label {
    color: #888;
    font-size: 12px;
    display: block;
    margin-bottom: 5px;
  }

.checkbox{
    display: flex;
    flex-direction: row;
}